{% extends 'users/base.html' %}

{% block body %}
<div class="container">
    <div class="alert alert-warning">
        <h4>Profile not found</h4>
        <p>The user {{ user.username }} ({{ user.email }}) has not created his profile yet.</p>
        
        {% if admin_view %}
        <p>As an administrator, you can:</p>
        <ul>
            <li><a href="{% url 'list' %}">Go back to the profiles list</a></li>
            {% if user.is_active %}
            <li><a href="{% url 'admin:auth_user_change' user.id %}">Edit this user in the admin panel</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}