class ClientProfileForm(forms.ModelForm):
    telephone_number = forms.CharField(
        required=False,
        validators=[validate_phone],
        widget=forms.TextInput(attrs={
            'placeholder': 'E.g.: +31 6 12345678',
            'class': 'form-control'
        })
    )

    role_in_company = forms.CharField(
        required=False,
        max_length=20,
        widget=forms.TextInput(attrs={
            'placeholder': 'E.g.: CEO, CTO, Project Manager',
            'class': 'form-control'
        })
    )

    linkedin = forms.URLField(
        required=False,
        widget=forms.URLInput(attrs={
            'placeholder': 'E.g.: https://linkedin.com/in/yourprofile',
            'class': 'form-control'
        })
    )

    website = forms.URLField(
        required=False,
        widget=forms.URLInput(attrs={
            'placeholder': 'E.g.: https://yourpersonalwebsite.com',
            'class': 'form-control'
        })
    )
    
    currency = forms.ChoiceField(
        required=False,
        choices=CURRENCY_CHOICES,
        widget=forms.Select(attrs={'class': 'form-control'})
    )

    class Meta:
        model = ClientProfile
        fields = [
            'telephone_number',
            'role_in_company',
            'linkedin',
            'website',
            'currency'
        ]