{% extends 'users/base.html' %}

{% block body %}



<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-white" style="background: linear-gradient(to right, #ff9900, #e62e7f);">
                    <div class="card-title">
                        Register
                    </div>
                </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}">Password</label>
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                        {{ form.password2 }}
                    </div>
                    <button type="submit" class="btn btn-primary" style="background: linear-gradient(to right, #ff9900, #e62e7f); border: none; box-shadow: none;">Register</button>
                </form>
                
            </div>
        </div>
    </div>

</div>

{% endblock %}
